form(action='/signup', method='post', accept-charset='utf-8')
      fieldset
        .fields
          input#id_fullname(type='text', name='displayName', placeholder='Full Name', tabindex='1')
          input#id_username(type='text', name='username', placeholder='Username', tabindex='2')
          input#id_password(type='password', name='password', placeholder='Password', tabindex='3')
          input#id_confirm_password(type='password', name='confirm_password', placeholder='Confirm Password', tabindex='4')
          input#id_email(type='text', name='email', placeholder='E-mail', tabindex='5')
        button.btn.btn-block(type='submit', tabindex='6') Sign Up
    .social
      p ...or sign up with
      a.btn.btn-cyan(href='/signup-twitter', title='', tabindex='7')
        i.icon-twitter
        | Twitter
      a.btn.btn-blue(href='/signup-google-plus', title='', tabindex='8')
        i.icon-google-plus
        | Google
      a.btn.btn-blue(href='/signup-linked-in', title='', tabindex='9')
        i.icon-linked-in
        | LinkedIn
      a.btn.btn-blue(href='/signup-github', title='', tabindex='10')
        i.icon-github
        | github