extends layout

block content
  header#main-navbar.navbar.navbar-fixed-top
    .navbar-inner
        .container
          a.logo(href='#')
            img(alt='Af_logo', src='images/af-logo.png')
          a.btn.nav-button.collapsed(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-reorder
          .nav-collapse.collapse
            ul.nav
              li.active
                a(href='#') Home
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | Dropdown
                  i.icon-caret-down
                ul.dropdown-menu
                  li
                    a(href='#') Action
                  li
                    a(href='#') Another action
                  li
                    a(href='#') Something else here
                  li.divider
                  li.nav-header Nav header
                  li
                    a(href='#') Separated link
                  li
                    a(href='#') One more separated link
              li.divider-vertical
            form.navbar-search.pull-left(action='', _lpchecked='1')
              input.search-query(type='text', placeholder='Search', style='width: 120px;')
            ul.nav.pull-right
              li
                ul.messages
                  li
                    a(href='#')
                      i.icon-warning-sign
                      | 2
                      span.responsive-text  alerts
                  li
                    a(href='#')
                      i.icon-envelope
                      | 25
                      span.responsive-text  new messages
              li.separator
              li.dropdown
                a.dropdown-toggle.usermenu(href='#', data-toggle='dropdown')
                  img(alt='Avatar', src='images/avatar.png')
                  span   Admin
                ul.dropdown-menu
                  li
                    a(href='#') Profile
                  li
                    a(href='#') Settings
                  li.divider
                  li
                    a(href='index.html') Sign In
    //
       / Main navigation bar 
    //
       Left navigation panel
    nav#left-panel
      #left-panel-content
        ul
          li.active
            a(href='dashboard.html')
              span.icon-dashboard
              | Dashboard
          li
            a(href='layout.html')
              span.icon-th-large
              | Layout
          li
            a(href='typography.html')
              span.icon-font
              | Typography
          li
            a(href='forms.html')
              span.icon-edit
              | Forms
          li
            a(href='tables.html')
              span.icon-table
              | Tables
          li
            a(href='components.html')
              span.icon-inbox
              | Components
          li
            a(href='javascript.html')
              span.icon-cog
              | JavaScript
          li.lp-dropdown
            a#extras-dropdown.lp-dropdown-toggle(href='#')
              span.icon-reorder
              | Extras
            ul.lp-dropdown-menu(data-dropdown-owner='extras-dropdown')
              li
                a(tabindex='-1', href='extras-icons.html')
                  span.icon-coffee
                  | Icons
              li
                a(tabindex='-1', href='extras-charts.html')
                  span.icon-bar-chart
                  | Charts
              li
                a(tabindex='-1', href='extras-widgets.html')
                  span.icon-star
                  | Widgets
          li.lp-dropdown
            a#pages-dropdown.lp-dropdown-toggle(href='#')
              span.icon-file-alt
              | Pages
            ul.lp-dropdown-menu.simple(data-dropdown-owner='pages-dropdown')
              li
                a(tabindex='-1', href='index.html')
                  i.icon-signin
                  | Sign In
              li
                a(tabindex='-1', href='pages-signup.html')
                  i.icon-check
                  | Sign Up
              li
                a(tabindex='-1', href='pages-messages.html')
                  i.icon-envelope-alt
                  | Messages
              li
                a(tabindex='-1', href='pages-stream.html')
                  i.icon-leaf
                  | Stream
              li
                a(tabindex='-1', href='pages-pricing.html')
                  i.icon-money
                  | Pricing
              li
                a(tabindex='-1', href='pages-invoice.html')
                  i.icon-pencil
                  | Invoice
      .icon-caret-down
      .icon-caret-up
    //
       / Left navigation panel 
    //
       Page content
    section.container
      //
         Server statistics
      section.row-fluid
        .well.widget-pie-charts
          h3.box-header
            | Server statictics
          .box.no-border.non-collapsible
            .span2.pie-chart
              #easy-pie-chart-1(data-percent='58')
                | 58%
              .caption
                | New Visits
            .span2.pie-chart
              #easy-pie-chart-2(data-percent='43')
                | 43%
              .caption
                | Bounce Rate
            .span2.pie-chart
              #easy-pie-chart-3(data-percent='91')
                | 91%
              .caption
                | Server Load
            .span2.pie-chart
              #easy-pie-chart-4(data-percent='82')
                | 752MB
              .caption
                | Used RAM
            .span2.pie-chart
              #easy-pie-chart-5(data-percent='35')
                | 35%
              .caption
                | Processor Load
            .span2.pie-chart
              #easy-pie-chart-6(data-percent='77')
                | 1.5TB
              .caption
                | Bandwidth
      //
         / Server statistics 
      //
      section.row-fluid
        //
           Daily visits chart
        .span8
          h3.box-header
            i.icon-home
            | Daily visits chart
          .box
            #visits-chart
        //
           / Daily visits chart 
        //
           Daily statistics
        #counters.span4
          h3.box-header
            i.icon-signal
            | Daily statistics
          .box.no-border.no-padding.widget-statistics
            .rounded-borders
              .counter.small
                span
                  | 897
              .counter-label
                | Visits Today
            .rounded-borders
              .counter.small
                span
                  | 563
              .counter-label
                | Unique Visits
            .rounded-borders
              .counter.small
                span
                  | 65
              .counter-label
                | Posts
            .rounded-borders
              .counter.small
                span
                  | 865
              .counter-label
                | Total Comments
            .rounded-borders
              .counter.small
                span
                  | 14
              .counter-label
                | Pending Comments
            .rounded-borders
              .counter.small
                span
                  | 11
              .counter-label
                | Support Requests
        //
           / Daily statistics 
      //
      section.row-fluid
        //
           Support tickets
        .span6
          h3.box-header
            i.icon-bullhorn
            | Support tickets
          .box.widget-support-tickets
            .ticket
              span.label.label-success Completed
              a(href='#', title='')
                | Server unavaible
                span [#201798]
              img(src='images/avatar.png', alt='Avatar')
              span.opened-by
                | Opened by
                a(href='#', title='') First User
                br
                | Jan 28, 2012 10:24
            .ticket
              span.label.label-warning Pending
              a(href='#', title='')
                | Mobile App Problem
                span [#201797]
              img(src='images/avatar.png', alt='Avatar')
              span.opened-by
                | Opened by
                a(href='#') Second User
                br
                | Jan 28, 2012 10:24
            .ticket
              span.label.label-info In progress
              a(href='#', title='')
                i.icon-warning-sign.text-error
                | PayPal issue
                span [#201796]
              img(src='images/avatar.png', alt='Avatar')
              span.opened-by
                | Opened by
                a(href='#') Third User
                br
                | Jan 28, 2012 10:24
            .ticket
              span.label.label-important Rejected
              a(href='#', title='')
                | IE7 problem
                span [#201795]
              img(src='images/avatar.png', alt='Avatar')
              span.opened-by
                | Opened by
                a(href='#') Fourth User
                br
                | Jan 28, 2012 10:24
            .ticket
              span.label.label-success Completed
              a(href='#', title='')
                | Server unavaible
                span [#201794]
              img(src='images/avatar.png', alt='Avatar')
              span.opened-by
                | Opened by
                a(href='#') Fifth User
                br
                | Jan 28, 2012 10:24
            .widget-actions
              a.btn.btn-mini(href='#', title='') Show more
        //
           / Support tickets 
        //
           Last activity
        .span6
          h3.box-header
            i.icon-time
            | Last activity
          .box
            .tabbable
              //
                 Tabs
              ul.nav.nav-tabs.box-wide
                li.active
                  a(href='#tab-comments', data-toggle='tab') Comments
                li
                  a(href='#tab-threads', data-toggle='tab') Threads
                li
                  a(href='#tab-users', data-toggle='tab') Users
              //
                 / Tabs 
              //
                 Tabs content
              .tab-content.box-wide.box-no-bottom-padding
                //
                   Recent comments tab content 
                #tab-comments.tab-pane.fade.in.widget-comments.active
                  .comment
                    img(src='images/avatar.png', alt='')
                    .content
                      span.commented-by
                        a(href='#', title='') First User
                        | commented on
                        a(href='#', title='') Article Name
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      | tempor incididunt ut labore.
                      span.actions
                        a(href='#')
                          i.icon-pencil
                          | Edit
                        a.comment-remove(href='#')
                          i.icon-trash
                          | Remove
                        span.pull-right 2 hours ago
                  .comment
                    img(src='images/avatar.png', alt='')
                    .content
                      span.commented-by
                        a(href='#', title='') Second User
                        | commented on
                        a(href='#', title='') Article Name
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      | tempor incididunt ut labore.
                      span.actions
                        a(href='#')
                          i.icon-pencil
                          | Edit
                        a.comment-remove(href='#')
                          i.icon-trash
                          | Remove
                        span.pull-right 2 hours ago
                  .comment
                    img(src='images/avatar.png', alt='')
                    .content
                      span.commented-by
                        a(href='#', title='') Third User
                        | commented on
                        a(href='#', title='') Article Name
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      | tempor incididunt ut labore.
                      span.actions
                        a(href='#')
                          i.icon-pencil
                          | Edit
                        a.comment-remove(href='#')
                          i.icon-trash
                          | Remove
                        span.pull-right 2 hours ago
                  .comment
                    img(src='images/avatar.png', alt='')
                    .content
                      span.commented-by
                        a(href='#', title='') Fourth User
                        | commented on
                        a(href='#', title='') Article Name
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      | tempor incididunt ut labore.
                      span.actions
                        a(href='#')
                          i.icon-pencil
                          | Edit
                        a.comment-remove(href='#')
                          i.icon-trash
                          | Remove
                        span.pull-right 2 hours ago
                  .widget-actions
                    a.btn.btn-mini(href='#', title='') Show more
                //
                   / Recent comments tab content
                //
                   Recent threads tab content 
                #tab-threads.tab-pane.fade.widget-threads
                  .thread
                    img(src='images/avatar.png', alt='')
                    .content
                      span 14h
                      div
                        a(href='#') Lorem ipsum dolor sit amet
                        br
                        | asked by
                        a(href='#', title='') First User
                        | in
                        a(href='#', title='') Forum name
                  .thread
                    img(src='images/avatar.png', alt='')
                    .content
                      span 14h
                      div
                        a(href='#') Lorem ipsum dolor sit amet
                        br
                        | asked by
                        a(href='#', title='') Second User
                        | in
                        a(href='#', title='') Forum name
                  .thread
                    img(src='images/avatar.png', alt='')
                    .content
                      span 14h
                      div
                        a(href='#') Lorem ipsum dolor sit amet
                        br
                        | asked by
                        a(href='#', title='') Third User
                        | in
                        a(href='#', title='') Forum name
                  .thread
                    img(src='images/avatar.png', alt='')
                    .content
                      span 14h
                      div
                        a(href='#') Lorem ipsum dolor sit amet
                        br
                        | asked by
                        a(href='#', title='') Fourth User
                        | in
                        a(href='#', title='') Forum name
                  .thread
                    img(src='images/avatar.png', alt='')
                    .content
                      span 14h
                      div
                        a(href='#') Lorem ipsum dolor sit amet
                        br
                        | asked by
                        a(href='#', title='') Fifth User
                        | in
                        a(href='#', title='') Forum name
                  .widget-actions
                    a.btn.btn-mini(href='#', title='') Show more
                //
                   / Recent threads tab content 
                //
                   Recent users activity tab content 
                #tab-users.tab-pane.fade.widget-users-activity
                  .activity
                    span.pull-right 12h
                    i.icon-ok(style='color: #9bb921;')
                    img(src='images/avatar.png', alt='')
                    div
                      a(href='#', title='') First User
                      | followed
                      a(href='#', title='') Second User
                  .activity
                    span.pull-right 12h
                    i.icon-remove(style='color: #dc6343;')
                    img(src='images/avatar.png', alt='')
                    div
                      a(href='#', title='') First User
                      | unfollowed
                      a(href='#', title='') Second User
                  .activity
                    span.pull-right 12h
                    i.icon-comment(style='color: #639ad9;')
                    img(src='images/avatar.png', alt='')
                    div
                      a(href='#', title='') First User
                      | commented
                      a(href='#', title='') Article name
                      span.comment
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut             labore.
                  .activity
                    span.pull-right 12h
                    i.icon-edit(style='color: #f3a139;')
                    img(src='images/avatar.png', alt='')
                    div
                      a(href='#', title='') First User
                      | posted in
                      a(href='#', title='') Forum name
                      span.comment
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut             labore.
                  .activity
                    span.pull-right 12h
                    i.icon-ok(style='color: #9bb921;')
                    img(src='images/avatar.png', alt='')
                    div
                      a(href='#', title='') Second User
                      | followed
                      a(href='#', title='') Third User
                  .widget-actions
                    a.btn.btn-mini(href='#', title='') Show more
                //
                   / Recent users activity tab content 
              //
                 / Tabs content 
            //
               / .tabbable 
        //
           / Last activity 
      //
         Why AdminFlare
      section#why-adminflare.row-fluid
        h3.box-header
          i.icon-fire(style='color: #cd522c;')
          | Why AdminFlare
        .box.well
          ul.row-fluid
            li.span4
              i.icon-ok
              | Simple and clean design
            li.span4
              i.icon-ok
              | Responsive 12-column stacked-left, centered and fluid layouts
            li.span4
              i.icon-ok
              | Built with LESS
          ul.row-fluid
            li.span4
              i.icon-ok
              | HTML5 and CSS3
            li.span4
              i.icon-ok
              | Node.js scripts for LESS and JS compiling
            li.span4
              i.icon-ok
              | Easy to customize
          ul.row-fluid
            li.span4
              i.icon-ok
              | Easy to exclude unused components and plugins
            li.span4
              i.icon-ok
              | 11 color themes
            li.span4
              i.icon-ok
              | 249 icons in one font (
              a(href='http://fortawesome.github.com/Font-Awesome/', title='FontAwesome', target='_blank') FontAwesome
              | )
          ul.row-fluid
            li.span4
              i.icon-ok
              | Based on
              a(href='http://twitter.github.com/bootstrap/', title='Bootstrap 2.2.2', target='_blank') Bootstrap 2.2.2
            li.span4
              i.icon-ok
              | Uses
              a(href='http://jquery.com/', title='jQuery 1.9.0', target='_blank') jQuery 1.9.0
            li.span4
              i.icon-ok
              | Integrated
              a(href='http://www.flotcharts.org/', title='Flot', target='_blank') Flot
              | charts
          ul.row-fluid
            li.span4
              i.icon-ok
              a(href='http://rendro.github.com/easy-pie-chart/', title='Easy Pie Charts', target='_blank') Easy Pie Charts
            li.span4
              i.icon-ok
              | Dynamic tables (
              a(href='http://exacttarget.github.com/fuelux/#datagrid', title='Fluelux Datagrid', target='_blank') Fuelux Datagrid
              | )
            li.span4
              i.icon-ok
              | Styled form elements (
              a(href='http://exacttarget.github.com/fuelux/', title='Fuelux', target='_blank') Fuelux
              | )
          ul.row-fluid
            li.span4
              i.icon-ok
              | Form validation (
              a(href='http://reactiveraven.github.com/jqBootstrapValidation/', title='jqBootstrapValidation', target='_blank') jqBootstrapValidation
              | )
            li.span4
              i.icon-ok
              | WYSIWYG-Editor (
              a(href='http://jhollingworth.github.com/bootstrap-wysihtml5/', title='bootstrap-wysihtml5', target='_blank') bootstrap-wysihtml5
              | )
            li.span4
              i.icon-ok
              | Colorpicker for Bootstrap (
              a(href='http://www.eyecon.ro/bootstrap-colorpicker/', title='bootstrap-colorpicker', target='_blank') bootstrap-colorpicker
              | )
          ul.row-fluid
            li.span4
              i.icon-ok
              | Datepicker for Bootstrap (
              a(href='http://www.eyecon.ro/bootstrap-datepicker/', title='datepicker-colorpicker', target='_blank') datepicker-colorpicker
              | )
            li.span4
              i.icon-ok
              | Timepicker for Bootstrap (
              a(href='http://jdewit.github.com/bootstrap-timepicker/', title='bootstrap-timepicker', target='_blank') bootstrap-timepicker
              | )
            li.span4
              i.icon-ok
              | Autosizing textarea (
              a(href='http://www.jacklmoore.com/autosize', title='jQuery Autosize', target='_blank') jQuery Autosize
              | )
          ul.row-fluid
            li.span4
              i.icon-ok
              | Toggle buttons (
              a(href='http://simontabor.com/toggles/', title='jQuery Toggles', target='_blank') jQuery Toggles
              | )
            li.span4
              i.icon-ok
              | In-place editing with
              a(href='http://vitalets.github.com/x-editable/', title='X-editable', target='_blank') X-editable
            li.span4
              i.icon-ok
              | Wizards (
              a(href='http://exacttarget.github.com/fuelux/#wizard', title='jQuery Autosize', target='_blank') Fuelux Wizard
              | )
          ul.row-fluid
            li.span4
              i.icon-ok
              | Growl-like notifications (
              a(href='https://github.com/Nijikokun/bootstrap-notify/', title='bootstrap-notify', target='_blank') bootstrap-notify
              | )
            li.span4
              i.icon-ok
              | Dialog boxes (
              a(href='http://bootboxjs.com/', title='Bootbox', target='_blank') Bootbox
              | )
            li.span4
              i.icon-ok
              | Clickovers (
              a(href='https://github.com/lecar-red/bootstrapx-clickover', title='Bootstrapx Clickover', target='_blank') Bootstrapx Clickover
              | )
      //
         / Why AdminFlare 
      //
         Supported browsers
      section#supported-browsers.row-fluid
        .box
          header.span2
            | SUPPORTED
            br
            strong BROWSERS
          .span10
            div
              img(src='images/browsers/chrome.png', alt='Google Chrome')
              span Chrome
            div
              img(src='images/browsers/firefox.png', alt='Mozills Firefox 9+')
              span Firefox 4+
            div
              img(src='images/browsers/safari.png', alt='Safari 5+')
              span Safari 5+
            div
              img(src='images/browsers/opera.png', alt='Opera 10+')
              span Opera 11+
            div
              img(src='images/browsers/ie.png', alt='Internet Explorer 9+')
              span IE 9+
      //
         / Supported browsers 
      //
         Page footer
      footer#main-footer
        | Copyright © 2013
        a(href='#') Your Company
        | , all rights reserved.
        a#on-top-link.pull-right(href='#')
          | On Top
          i.icon-chevron-up
      //
         / Page footer 
