extends layout

block content
  section.signup-container
    a.header(href='dashboard.html', title='AdminFlare')
      img(src='images/af-logo-signup.png', alt='Sign in to Admin Flare')
      span
        | Sign up to
        br
        strong MyWebClass
    include _formSignup
