extends layout

block content
  table.table.table-striped
    thead
        tr
          th
            | #
          th
            | Full Name
          th
            | Email
          th
            | Username
      if (users && users.length > 0)
        tbody
          each u, i in users
            tr
              td
                | #{i+1}
              td
                | #{u.fullName}
              td
                | #{u.email}
              td
                | #{u.username}
